<h3>From Subscribe Hell To Switch Map</h3>

<hr />

<p>
  Trong thực tế, khi một xử lý bất đồng bộ phụ thuộc vào kết quả của một xử lý trước đó (ví dụ: lấy
  Profile xong mới lấy được danh sách Sản phẩm), cách tiếp cận bản năng nhất là lồng các hàm
  <code>subscribe()</code> vào nhau. Đây chính là nguyên nhân dẫn đến <b>Subscribe Hell</b>.
</p>

<figure class="pyramid-figure">
  <img
    src="images/pyramid-of-doom.jpg"
    alt="Pyramid of Doom - callback lồng nhau chéo dần sang phải như kim tự tháp"
  />
  <figcaption>
    Pyramid of Doom: callback lồng nhau chéo dần sang phải - subscribe lồng nhau cũng y hệt.
  </figcaption>
</figure>

<app-code-presenter-signal fileName="demo-switch-map/subscribe-hell.ts">
</app-code-presenter-signal>

<hr />

@if (this.showExplainSubscribeHell()) {
  <app-code-presenter-signal [fileName]="'explain-subscribe-hell.md'"></app-code-presenter-signal>
} @else {
  <button class="btn" (click)="triggerExplainSubscribeHell()">Explain Subscribe Hell</button>
}

<hr />
@if (this.showSwitchMapSolution()) {
  <app-code-presenter-signal fileName="demo-switch-map/switch-map.ts"> </app-code-presenter-signal>

  <hr />

  <app-code-presenter-signal [fileName]="'explain-switch-map.md'"></app-code-presenter-signal>
} @else {
  <button class="btn" (click)="triggerSwitchMapSolution()">Reveal Solution: switchMap</button>
}
