<h3>Change Detection Comparison</h3>

<hr />

<p>
  Cơ chế <b>Change Detection (CD)</b> là bộ máy trung tâm giúp Angular cập nhật giao diện khi dữ
  liệu thay đổi. Bản demo này giúp bạn phân biệt rõ ràng sự khác biệt giữa chiến lược
  <b>Default</b> (tự động kiểm tra lại toàn bộ cây component) và <b>OnPush</b> (chỉ kiểm tra khi
  dữ liệu đầu vào @Input thay đổi hoặc có sự kiện tác động trực tiếp), đồng thời cho thấy sức
  mạnh của <b>Signals</b> trong việc tối ưu hóa hiệu năng render.
</p>

<button class="btn" (click)="triggerRandomChange()">Trigger Change Detection (Random)</button>
<p>
  Parent Change Trigger: <span class="highlight">{{ randomValue() }}</span>
</p>

<hr>
<h4>1. Imperative State</h4>
<app-code-presenter-old [fileName]="currentFile()" [showRenderCount]="true"></app-code-presenter-old>

<hr>
<h4>2. Observable State</h4>
<app-code-presenter-observable [fileName]="currentFile()" [showRenderCount]="true"></app-code-presenter-observable>

<hr>
<h4>3. Signal State</h4>
<app-code-presenter-signal [fileName]="currentFile()" [showRenderCount]="true"></app-code-presenter-signal>

<hr>
@if (this.showExplainOnPush()) {
<app-code-presenter-signal [fileName]="'explain-on-push.md'"></app-code-presenter-signal>
} @else {
<button class="btn" (click)="triggerExplainOnPush()">Explain OnPush</button>
}

<hr>
@if (this.showSummary()) {
<app-code-presenter-signal [fileName]="'explain-change-detection.md'"></app-code-presenter-signal>
} @else {
<button class="btn" (click)="triggerSummary()">Summary</button>
}