.app-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 250px 1fr;

  app-menu {
    grid-column: 1;
    overflow-y: auto;
  }

  .content {
    grid-column: 2;
    overflow-y: auto;
    padding: 0 1rem;
  }
}
