:host {
  --bar-width: 4px;
  --bar-color: var(--bg-idicator-color);
}

.menu-container {
  height: 100%;
  border-right: 1px solid var(--border-color);

  .switch-container {
    padding: 0.5rem 1rem;
  }

  .menu-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;

    .menu-item {
      .menu-link {
        position: relative;
        text-decoration: none;
        display: block;
        padding: 0.5rem 1rem;
        opacity: 0.7;
        color: var(--text-color);
        background: transparent;

        &:before {
          content: "";
          background-color: var(--bar-color);
          position: absolute;
          right: 0;
          top: 50%;
          width: var(--bar-width);
          height: 100%;
          opacity: 0;
          transform: translateY(-50%) scaleY(0);
          transition: opacity 0.5s ease, transform 0.5s ease;
        }

        &.activated {
          opacity: 1;
          font-weight: bold;
          background: var(--bg-activated-item-color);

          &:before {
            opacity: 1;
            transform: translateY(-50%) scaleY(1);
          }
        }
      }
    }
  }
}
