<div class="menu-container">
  <div class="switch-container">
    <label class="switch">
      <input class="switch-input" type="checkbox"
             [ngModel]=commonService.isDarkMode() (ngModelChange)="commonService.toggleDarkmode()"/>
      <span class="switch-track" aria-hidden="true"></span>
      <span class="switch-label">Dark mode</span>
    </label>
  </div>
  @if (menuList()) {
    <ul class="menu-list">
      @for (menu of menuList(); track $index; let i = $index) {
        @if (showBlockLabel(i)) {
          <li
            class="menu-block-label"
            [class.basic]="menu.group === 'basic'"
            [class.rxjs]="menu.group === 'rxjs'"
            [class.summary]="menu.group === 'summary'"
          >
            {{ groupTitle(menu.group) }}
          </li>
        }
        <li class="menu-item">
          <a
            class="menu-link"
            [class.level-basic]="menu.level === 'basic'"
            [class.level-advanced]="menu.level === 'advanced'"
            [class.level-summary]="menu.level === 'summary'"
            [title]="levelTooltip(menu.level)"
            [routerLink]="menu.link"
            routerLinkActive="activated"
          >
            {{ menu.name }}
          </a>
        </li>
      }
    </ul>
  }
</div>
