.menu-container {
  height: 100%;
  border-right: 1px solid var(--border-color);

  .menu-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;

    .menu-item {
      .menu-link {
        position: relative;
        text-decoration: none;
        display: block;
        padding: 0.5rem 1rem;
        opacity: 0.8;
        color: white;

        &:before {
          content: "";
          position: absolute;
          right: 0;
          top: 0;
          width: 2px;
          height: 1rem;
          background: red;
        }

        &.activated {
          opacity: 1;
        }
      }
    }
  }
}
