/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --primary-color: #007bff;
  --border-color: #413e46;
}

body {
  margin: 0;
  background-color: #0f0f11;
  color: white;
  font-family: "Open Sans", sans-serif;
}

